.cards-1{
    align-items: center;
    padding: 12px;
    box-shadow: 1px 3px 17px 0px black;
    height: 27vh;
    justify-content: center;
}
.cards-2{
    align-items: center;
    padding: 12px;
    box-shadow: 1px 3px 17px 0px black;
    height: 27vh;
    justify-content: center;
}
.cards-3{
    align-items: center;
    padding: 12px;
    box-shadow: 1px 3px 17px 0px black;
    height: 27vh;
    justify-content: center;
}
.button-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width:1238px){
    .acceuil-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 56px;
    }
}